Port 22
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
AllowUsers jerry
AuthenticationMethods publickey
AuthorizedKeysFile .ssh/authorized_keys
PubkeyAuthentication yes
PermitEmptyPasswords no
